* {
  margin: 0;
  padding: 0;
}

#wrapper {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

#titulo {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  box-shadow: 0px 0px 10px 0px black;
  color: white;
  font-size: 5rem;
  font-weight: 300;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#opcionesLocalStorage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.568);
  align-items: center;
  padding: 7px 0px;

  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  margin-bottom: 100px;
}

#opcionesLocalStorage button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  height: 35px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.imgBarraSuperior {
  width: 25px;
}

#opcionesLocalStorage button:hover {
  box-shadow: 0px 0px 5px black;
}

#contenedorMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

#contenedorTituloCategorias h2 {
  font-weight: 300;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 30px 0px 30px;
}

#seccionCategorias {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
}

#contenedorArticulosCategorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin: 40px 0px 40px 0px;
  width: 100%;
}

#contenedorArticulosCategorias article {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(203, 203, 203);
  max-width: 200px;
  min-width: 150px;
  width: 100%;
}

#contenedorArticulosCategorias article button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  min-height: 300px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
@media (max-width: 450px) {
  #seccionCategorias {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #contenedorArticulosCategorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  #contenedorArticulosCategorias article {
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(203, 203, 203);
    max-width: none;
    width: 100%;
  }

  #contenedorArticulosCategorias article button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
}
#contenedorArticulosCategorias article button img {
  width: 50px;
}
#contenedorArticulosCategorias article:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#botonCategoriaInformatica {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

#botonCategoriaCine {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

#botonCategoriaMusica {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

#botonCategoriaAleatoria {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

#botonCategoriaFirebase {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

#intermediarioSeleccionCategoria {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0px rgb(121, 121, 121);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  padding: 15px;
  width: 90%;
}

#intermediarioSeleccionCategoria p {
  color: #2b86c5;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
}

#intermediarioSeleccionCategoria button {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #bbbbbb 0%, #ffffff 100%);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 200px;
  padding: 20px;
  text-align: center;
}

#intermediarioSeleccionCategoria button:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px rgb(106, 106, 106);
}

#intermediarioSeleccionCategoria button:last-child {
  padding: 7px;
}

#contenedorFalloFetch {
  background-color: rgb(255, 0, 0);
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  max-width: 450px;
  text-align: center;
}

#contenedorFalloFetch button {
  box-shadow: 0px 0px 5px 0px white;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: none;
}

#contenedorFalloFetch button:hover {
  box-shadow: 0px 0px 10px 5px black;
  cursor: pointer;
}

#contadorPreguntas {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px;
  padding: 20px;
  width: 90%;
}

#anularPrueba {
  padding: 10px;
  border: none;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
  background-color: white;
}

#anularPrueba:hover {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

#contadorPreguntas p {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  justify-content: center;
  padding: 5px;
  width: 30px;
}

.opcionRespuestas {
  background-color: rgb(237, 237, 237);
  border: none;
  font-size: 1.2rem;
  margin: 20px;
  padding: 10px;
}

#seccionPreguntas {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  padding: 20px;
  width: 90%;
}

#contenedorRespuestas {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 10px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

#contenedorRespuestas p {
  border-bottom: 1px solid lightgray;
  color: #0026ff;
  font-weight: 100;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding: 20px;
  width: 100%;
}

#contenedorRespuestas button {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  max-width: 350px;
  min-width: 250px;
}

#contenedorRespuestas button:hover {
  box-shadow: 0px 0px 5px 0px gray;
  cursor: pointer;
}

.claseAcertado {
  box-shadow: 0px 0px 10px 0px green;
}

.claseFallado {
  box-shadow: 0px 0px 10px 0px red;
}

#contenedorResultado {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 100;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 90%;
}

#logoHome {
  border-radius: 10%;
  box-shadow: 0px 0px 10px lightgray;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  width: 50px;
}

#contenedorSesionesAnteriores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(249, 249, 249);
  align-items: center;
  width: 90%;
  font-size: 1.3rem;
  margin: 40px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  justify-content: space-around;
  padding: 20px 0px 20px;
}

#contenedorTitulo {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

#contenedorTitulo h2 {
  font-weight: 100;
}

#contenedorSesiones {
  align-items: center;
  box-shadow: 0px 0px 10px 2px lightgray;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: center;
  justify-content: center;
  max-width: 600px;
  padding: 10px;
  width: 90%;
}

#titulosCategorias {
  align-items: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  font-weight: 100;
  justify-content: space-around;
  padding: 10px 0px 10px;
  width: 90%;
}

.sesiones {
  align-items: center;
  box-shadow: 0px 0px 5px 0px lightgray;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px 0px 10px;
  width: 100%;
  width: 90%;
}

.sesiones div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#contenedorGrafica {
  box-shadow: 0px 0px 10px 2px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 10px;
  width: 90%;
}

#contenedorSesionesAnteriores img {
  width: 25px;
}

#contenedorFecha {
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

#botonSalirLocalStorage {
  background-color: rgb(249, 249, 249);
  border: none;
  display: flex;
  padding: 5px;
}

#pfecha {
  font-size: 1rem;
  padding: 2px;
}

#botonSalirLocalStorage:hover {
  box-shadow: 0px 0px 3px 0px gray;
  border-radius: 100%;
  cursor: pointer;
}

.divRegistros {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  width: 30%;
  min-width: 300px;
  box-shadow: 0px 0px 10px 0px black;
}

.divRegistros h1 {
  font-size: 2rem;
  font-weight: 100;
  border-bottom: 1px solid gray;
  width: 80%;
  text-align: center;
  padding-bottom: 5px;
}

.formulariosRegistros {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formulariosRegistros label {
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 100;
  color: white;
}

.formulariosRegistros input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgb(0, 140, 255);
  font-size: 1.1rem;
  font-weight: 100;
  margin-top: 15px;
  outline: none;
  padding: 5px;
  text-align: center;
}

#cajabotonesIniciarSesion {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.botonesIniciioSesion {
  margin-top: 30px;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: #ffd04f;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
  border: 1px solid rgba(0, 0, 0, 0);
}

.botonesIniciioSesion:hover {
  border: 1px solid black;
  cursor: pointer;
}
#wrapperModal {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.689);
  width: 100%;
  height: 100%;
  display: none;
}

#modal {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  min-width: 300px;
  gap: 10px;
  z-index: 100;
  top: 0;
  margin: auto;
}
#divTituloModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#divTituloModal img {
  width: 20px;
  height: 20px;
  background-color: rgb(253, 132, 132);
  padding: 5px;
  border-radius: 50%;
}
#divTituloModal img:hover {
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}
#divTituloModal h1 {
  font-weight: 100;
  margin-bottom: 20px;
}

.divParrafo {
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}
